SUPABASE_URL=https://tuproyecto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGci...tu_service_role_key_completa
JWT_SECRET=2fad076f6f947aedc12566f5424310258478a1459d218b0e6bb536da500065876d82c04452ce68d4588a8d85afae6244bf5e0eaa459fe856cf8c2f5f43ecb2c0
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
WHAPI_TOKEN=
WHAPI_URL=https://gate.whapi.cloud/messages/text
GOOGLE_MAPS_API_KEY=
